<header class="main-header">
  <h1><a href="/">Extensions Marketplace</a></h1>

  <ul class="nav-links">
    <li class="nav-link"><a href="/categories">categories</a></li>
    <li class="nav-link"><a href="/extensions">extensions</a></li>
  </ul>

  <div class="flex-ctr gap-sm action-btns">
    <a href="/categories/create" class="btn btn-primary btn-md add-category">
      add category
    </a>
    <a href="/extensions/create" class="btn btn-primary btn-md add-extension">
      add extension
    </a>
  </div>
</header>
