<header class="main-header">
  <h1>Extensions Marketplace</h1>

  <div class="flex-ctr gap-sm">
    <a href="/categories/create" class="btn btn-primary btn-md add-category">
      add category
    </a>
    <a href="/extensions/create" class="btn btn-primary btn-md add-extension">
      add extension
    </a>
  </div>
</header>
