<div class="msg-modal hidden">
  <div class="msg-icon-ctr">
    <div class="icon"><span class="material-symbols-outlined">info</span></div>
    <p class="msg"></p>
  </div>
  <button class="close-modal">Cancel</button>
</div>
