<section class='server-err-section'>
  <div class='ctr'>
    <h1 class='msg'>
      <pre>
        <%= serverError.status || 500 %>
        <%= serverError.message  %>
      </pre>
    </h1>

    <hr />

    <% if (serverError.stack) { %>
      <pre class='stack'>
        stack: <%= serverError.stack %>
      </pre>
    <% } %>
  </div>
</section>
