<div class="extensions-page">
  <section class="extensions-section">
    <div class="ctr">
      <h2 class="section-header">all extensions</h2>
      <%- include('../partials/extension-preview-list') %>
    </div>
  </section>
</div>
