$color-orange: #fb923c;
$color-tomato: tomato;
$color-black-2: #222;

$color-grey: #b4b4b4;
$color-grey-dark-1: #9c9c9c;
$color-grey-dark-2: #525252;
$color-grey-dark-3: #323232;
$color-white: #fafafa;

$color-warning: #844f00;
$color-danger: #80002c;
$color-primary: royalblue;
$color-info: #3f51b5;

$color-gray--blue: #1e293b;
$color-t-black: #202020a8;

// header

$main-header-bg-color: transparent;
$main-header-color: #cdcdcd;
$main-header-border-color: #5c5300;

$ctr-bg-color: #010e1e;
$body-bg-color: #111827;
