@import 'reset';
@import 'colors';
@import 'general';
@import 'modal';
@import 'flash-msgs';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body {
  background-color: #111827;
  color: $color-white;
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;

  & > main {
    flex-grow: 1;
  }
}

.main-header {
  padding: 1.2rem 2.4rem;

  background-color: $main-header-bg-color;

  text-transform: capitalize;

  margin-bottom: 8rem;

  border-bottom: 1px solid $main-header-border-color;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'logo nav-links action-btns';
  align-items: center;

  h1 {
    grid-area: logo;
    white-space: nowrap;

    font-size: 1.8rem;
    font-weight: 500;
    color: $main-header-color;

    a {
      color: inherit;
    }
  }

  .nav-links {
    grid-area: nav-links;
    justify-self: center;

    display: flex;
    gap: 2.4rem;
  }

  .nav-link a {
    color: $color-light-brown;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid transparent;
    transition: all 0.3s;

    &:hover {
      border-color: currentColor;
    }
  }

  .action-btns {
    grid-area: action-btns;

    .btn {
      flex-shrink: 0;
    }
  }

  @media (max-width: calc(800/ 16 * 1rem)) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'logo .' 'nav-links action-btns';
    row-gap: 1.8rem;

    .action-btns {
      justify-self: center;
    }
  }
  @media (max-width: calc(532/ 16 * 1rem)) {
    grid-template-columns: 1fr;
    grid-template-areas: 'logo' 'nav-links' 'action-btns';

    .nav-links {
      justify-self: start;
    }

    .action-btns {
      justify-self: end;
    }
  }
}

.home-page {
  // extension
  .view-all-extensions {
    width: max-content;
    display: block;
    margin-inline-start: auto;
  }

  // categories

  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .category-list .category {
    padding: 1.2rem 4.8rem;
    border-radius: 1.2rem;
    background-color: transparent;
    border: 0.1rem solid currentColor;
    color: $color-grey;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s;
  }

  .category-list .category:hover {
    color: $color-orange;
  }

  .view-all-categories {
    display: block;
    width: max-content;
    margin-inline-start: auto;
  }
}

.category-page {
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .category-record {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }

  .category-record::before {
    content: '🔷';
  }

  .category {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: 1.2rem;
    background-color: $color-grey-dark-3;
    cursor: pointer;
    color: $color-white;
  }

  .category-extensions {
    color: $color-grey;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .edit-category {
    color: $color-warning;
  }

  .delete-category {
    color: $color-danger;
  }
}

.extension-detail-page {
  .extension-card-detail {
    padding: 2rem;

    border-radius: 0.8rem;

    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto auto 3.4rem auto;
    align-items: center;
    justify-content: start;
    gap: 0.8rem 1.8rem;
    grid-template-areas:
      'img title title'
      'img category category'
      'img downloads stars'
      '. . .'
      'description description description';

    overflow: hidden;
    margin-bottom: 3.2rem;

    .img {
      grid-area: img;
      justify-self: center;

      height: 16rem;
      width: 16rem;
      border-radius: 50%;
    }

    .title {
      grid-area: title;

      font-size: 1.8rem;
      font-weight: 500;
      color: $color-white;
    }

    .category,
    .downloads {
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-grey;
    }

    .category {
      grid-area: category;
      align-self: end;

      font-size: 1.6rem;
      font-weight: 500;
      color: $color-grey-dark-1;
    }

    .downloads {
      grid-area: downloads;

      display: flex;
      align-items: center;
    }
    .stars {
      grid-area: stars;

      display: flex;
      gap: 0.2rem;

      font-weight: 300;

      .star-icon {
        font-size: 2rem;
        color: $color-grey;
      }

      .star-icon.filled {
        color: $color-orange;
      }
    }

    .description {
      grid-area: description;
      max-width: 79ch;

      font-size: 1.6rem;
      color: $color-white;
      line-height: 1.6;

      white-space: break-spaces;
    }
  }
  .actions-btns {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .btn {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
  }

  @media (max-width: calc(490rem/16)) {
    .extension-card-detail {
      justify-content: stretch;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto auto auto 3.4rem auto;
      grid-template-areas:
        'img img'
        'title title'
        'category category'
        'downloads stars'
        '. .'
        'description description';
    }

    .img {
      margin-bottom: 2.6rem;
    }

    .description {
      padding-top: 2.4rem;
      border-top: 0.1rem solid $color-grey-dark-3;
    }
    .actions-btns {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  @media (max-width: calc(300rem/16)) {
    .extension-card-detail {
      grid-template-columns: repeat(1, auto);
      grid-template-areas:
        'img'
        'title'
        'category'
        'downloads'
        'stars'
        '.'
        'description';
    }
  }
}

.delete-confirmation-section {
  .confirmation {
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;

    .deleted-item {
      font-weight: 500;
      font-style: italic;
      color: $color-tomato;
    }
  }
}

.server-err-section {
  color: $color-white;

  .msg {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: $color-orange;
  }

  .status {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
  }

  hr {
    height: 0.1rem;
    background-color: $color-grey-dark-2;
  }

  .stack {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.8;
  }
}

.category-detail-page {
  .actions-btns {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    margin-bottom: 3.6rem;
  }
}
